/* Default */
body,
html {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #666;
  height: 100%;
  background-color: #f7f8fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
