.container-card-bill-information {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container-card-bill-information h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

.container-card-bill-information h2 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", cursive;
}

.container-card-bill-information .card-bill-information {
  margin-top: 30px;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.container-card-bill-information .container-button-payment-finished {
  margin-top: 30px;
  margin-bottom: 20px;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
  background-color: #ffff;
}

.container-card-bill-information .container-button-payment-finished button {
  display: flex;
  border-radius: 23px;
  background-color: #717fe0;
  text-transform: uppercase;
  min-width: 180px;
  height: 50px;
  font-family: Poppins-Medium;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.466667;
  color: #fff;
  justify-content: center;
  transition: all 0.4s;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.container-card-bill-information
  .container-button-payment-finished
  button:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.container-card-bill-information .payment-discount {
  border: 1px solid #fe8725;
  color: #fe8725;
  padding: 0 5px;
  font-size: 30px;
  font-weight: 700;
  height: 30px;
  display: flex;
  align-items: center;
}
