.container-cart-form {
  display: flex;
  justify-content: center;
  background-color: #ffff;
}

.container-cart-form h4 {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  line-height: 25px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.container-cart-form .form-information-user {
  display: block;
  width: 35%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container-cart-form .input-cart {
  display: flex;
  align-items: center;
  position: relative;
}

.container-cart-form .icon-input-complete {
  color: green;
  position: absolute;
  right: 1%;
}
