.container-card-bill-information {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container-card-bill-information h1 {
  text-align: center;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

.container-card-bill-information h2 {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-family: "Bebas Neue", cursive;
}

.container-card-bill-information .card-bill-information {
  margin-top: 30px;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}

.container-card-bill-information .payment-discount {
  border: 1px solid #fe8725;
  color: #fe8725;
  padding: 0 5px;
  font-size: 30px;
  font-weight: 700;
  height: 30px;
  display: flex;
  align-items: center;
}
