.container-cart .react-multi-carousel-list {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.title-cart {
  border-bottom: 1px solid #c5c5c5;
  width: 50%;
  margin: 0 auto;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 40px;
}

.total-item-cart-slider {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 700;
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  text-align: center;
  width: 94%;
  bottom: 0;
}
