.header-title {
  font-size: 13.5px;
  vertical-align: middle;
}

.quantity-btn-cart {
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 18px;
}

.increase-btn-cart,
.decrease-btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.3px;
  height: 40px;
  font-size: 22px;
  transition: all 0.4s;
}

.increase-btn-cart {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.decrease-btn-cart {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.increase-btn-cart:hover,
.decrease-btn-cart:hover {
  background: #717fe0;
  cursor: pointer;
}

.quantity-show-cart {
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background: #f2f2f2;
  text-align: center;
  width: 46.3px;
  height: 40px;
  font-size: 22px;
}

.quantity-show-cart:focus-visible {
  outline: none;
}

.size-color-cart {
  display: flex;
  white-space: nowrap;
  display: inline-block;
  padding: 8px 15px;
  color: #222;
  cursor: default;
  background: #f2f2f2;
  border-radius: 18px;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #f2f2f2;
  margin-bottom: 8px;
  transition: all 0.4s;
}

.size-color-cart:hover {
  background: #717fe0;
  cursor: pointer;
  color: white;
}

.MuiTableRow-root.Mui-selected,
.MuiTableRow-root.Mui-selected:hover {
  background: #eeeeee !important;
}

.MuiIconButton-colorSecondary {
  transition: all 0.4s !important;
}

.MuiIconButton-colorSecondary:hover {
  background: #ced2e6 !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: #717fe0 !important;
}

.MuiPaginationItem-page {
  transition: all 0.4s !important;
}
.MuiPaginationItem-page.Mui-selected {
  background: #333 !important;
  color: white;
}
.MuiPaginationItem-page:hover {
  background: #717fe0 !important;
}
