.container-contact {
  background-color: #fff4e4;
  display: flex;
  justify-content: space-between;
  height: 50vh;
  padding-top: 200px;
}

.container-contact .contact-info {
  width: 40%;
  height: 50%;
  border: 1px solid #333;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #333;
  text-align: center;
}

.container-contact .contact-info h1,
.container-contact .contact-info h2 {
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  color: white;
  text-transform: uppercase;
  animation-delay: 1200ms;
  animation-duration: 1.5s;
}

.container-contact .contact-info .social-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-contact .contact-info .social-contact .info-social {
  border-radius: 30px;
  background-color: #000000;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
  animation-delay: 1200ms;
  animation-duration: 1.5s;
}

.container-contact .contact-info .social-contact .info-social:hover {
  background-color: #717fe0;
}

.container-contact .contact-info .social-contact .info-social img {
  width: 30px;
  height: 30px;
}

.container-contact .founder {
  display: flex;
  justify-content: center;
  width: 60%;
}

.container-contact .founder .founder-info {
  height: 11rem;
  position: relative;
}

.container-contact .founder .founder-info h3 {
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 200px;
  left: -56%;
  top: 18%;
  color: #fff;
  font-weight: 500;
  color: #333;
  font-family: "Bebas Neue", cursive;
  animation-delay: 1s;
  animation-duration: 1.5s;
}

.container-contact .founder .founder-info .blob-img {
  width: 340px;
  height: 350px;
  transform: rotate(-15deg);
  position: absolute;
  top: -5rem;
  right: -4rem;
  animation-delay: 1.5s;
}

.container-contact .founder .founder-info .img-founder {
  height: 400px;
  margin-top: -100px;
}

.contact-address {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  padding: 0 300px 0 300px;
}

.contact-address h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  animation-delay: 500ms;
  animation-duration: 1s;
}

.contact-address .contact-card.animated1 {
  animation-delay: 700ms;
  animation-duration: 1.5s;
}
.contact-address .contact-card.animated2 {
  animation-delay: 900ms;
  animation-duration: 1.7s;
}
.contact-address .contact-card.animated3 {
  animation-delay: 1100ms;
  animation-duration: 1.9s;
}

.contact-address .contact-card {
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact-address .contact-card img {
  width: 60px;
  height: 60px;
}

.contact-address .contact-address-info {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-address .contact-card .card-title-contact,
.contact-address .contact-card .card-text-contact {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

.contact-address .contact-card .card-title-contact {
  font-weight: bold;
  color: #333;
  line-height: 2;
}

.container-line-chart {
  padding-top: 50px;
  width: 55%;
  margin: 0 auto;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.contact-form h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  animation-delay: 500ms;
  animation-duration: 1s;
}

.contact-form .btn-user {
  margin-top: 50px;
  text-decoration: none;
  background-color: #717fe0;
  min-width: 140px;
  height: 43px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  transition: all 0.4s;
  animation-delay: 1500ms;
  animation-duration: 1.5s;
}

.contact-form .btn-user:hover {
  background-color: #333;
}

.contact-form form {
  margin-top: 40px;
  background-color: #f7f8fa;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30px;
  padding: 30px;
  animation-delay: 500ms;
  animation-duration: 1s;
}

.contact-form .MuiFilledInput-root {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact-form .MuiFilledInput-underline:before {
  border: none;
}

.contact-form .MuiFilledInput-underline:after {
  border: none;
}

.contact-form .MuiFilledInput-underline:hover:before {
  border: none;
}

#dialog-contact {
  color: #333;
  background-color: #b5e6b5;
  font-family: "Bebas Neue", cursive;
}

.contact-form .txt1 {
  animation-delay: 700ms;
  animation-duration: 1.5s;
}

.contact-form .txt2 {
  animation-delay: 800ms;
  animation-duration: 1.6s;
}

.contact-form .txt3 {
  animation-delay: 1000ms;
  animation-duration: 1.8s;
}

.contact-form .txt4 {
  animation-delay: 1200ms;
  animation-duration: 2s;
}

@media screen and (max-height: 900px) {
  .container-contact .contact-info {
    height: 65%;
  }
}
