.rating-dialog .MuiDialog-paperWidthSm {
  width: 100%;
  text-align: center;
}

.rating-dialog-btn {
  border-radius: 23px;
  background-color: #717fe0;
  text-transform: uppercase;
  min-width: 150px;
  height: 30px;
  font-family: Poppins-Medium;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.466667;
  color: #fff;
  transition: all 0.4s;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}

.rating-dialog-btn:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.rating-user {
  color: white;
  font-weight: bold;
  font-size: 12px;
  background-color: red;
  border-radius: 20px;
  padding: 3px 5px 2px 5px;
  margin-right: 15px;
}

.rating-icon-btn {
  padding: 0 !important;
}

.container-rating-btn {
  text-align: center;
  margin: 10px 0 10px 0;
}
