.favorites {
  width: 100vh;
  text-align: left;
}

.favorites .card {
  padding: 0;
  border-radius: 10px;
}

.favorites .block-pic {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.favorites .block-pic button {
  border-radius: 20px;
  font-weight: bold;
  width: 100px;
  color: #333;
  background-color: #fff;
  border-color: transparent;
  font-weight: bold;
  font-family: Poppins-Regular;
  font-size: 20px;
  padding: 0;
  transition: all 0.4s;
  display: none;
}

.favorites .block-pic button:hover {
  color: #fff;
  background-color: #333;
}

.favorites .block-pic img {
  border-radius: 10px;
  transition: all 0.4s;
}

.favorites .block-pic .btn-favorites {
  position: absolute;
  transition: all 0.4s;
  bottom: 18%;
  display: none;
}

.favorites .block-pic:hover > button {
  display: block;
}

.favorites .block-pic:hover > img {
  transform: scale(1.1);
}

.favorites .MuiPagination-root {
  width: 95%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}

.favorites .MuiPaginationItem-page.Mui-selected {
  background: white !important;
  color: black !important;
}

.favorites .MuiPaginationItem-root {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
