footer {
  padding-top: 15px;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container h4 {
  color: WHITE;
  padding-left: 2rem;
  font-weight: bold;
  font-family: PlayfairDisplay-Bold;
  margin-bottom: 20px;
}

.container li {
  list-style: none;
  font-weight: bold;
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.923;
}
.container li a {
  text-decoration: none;
  color: white;
}

.container li a:hover {
  transition: all 0.4s;
  color: #717fe0;
}
