.slider {
  text-align: left;
  width: 94%;
  margin: 0 auto;
}
.card {
  border-radius: 10px;
  border: none;
}

.slider .block-pic {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slider .block-pic button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  min-width: 139px;
  height: 40px;
  font-weight: bold;
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.466667;
  color: #333;
  border: 1px solid #fff;
  border-radius: 30px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
  padding-right: 15px;
  padding-left: 15px;
}

.slider .block-pic img {
  transition: transform 0.9s ease;
}

.slider .block-pic:hover > button {
  bottom: 30px;
}

.slider .block-pic:hover > img {
  transform: scale(1.1);
}

.slider .block-pic button:focus {
  display: none;
}

.slider .block-pic button:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.slider p {
  font-weight: bold;
}

.slider .card-multi-carousel {
  width: 19rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.slider .card-multi-carousel .blob-favorites {
  background-color: #717fe0;
  border: 1px solid transparent;
  border-radius: 20px;
}

.slider .card-multi-carousel .container-blob {
  display: flex;
  justify-content: space-between;
}

.slider .card-multi-carousel .container-blob .fas {
  font-size: 20px;
  color: #fe2c55;
  padding-left: 8px;
}

.slider .card-multi-carousel .container-blob span {
  font-size: 15px;
  font-weight: bold;
}

.label-discount {
  position: absolute;
  border-top: 70px solid #d53333;
  border-right: 70px solid transparent;
  line-height: 2;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.label-discount b {
  color: #fff;
  position: absolute;
  top: -60px;
  left: -5px;
  text-align: center;
  font-size: 15px;
  width: 50px;
}

.discount-text {
  padding-left: 20px;
}
