.slider {
  text-align: left;
  width: 94%;
  margin: 0 auto;
}

.container-blob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-blob .fas {
  font-size: 20px;
  color: #fe2c55;
  padding-left: 8px;
}

.container-blob span {
  font-size: 15px;
  font-weight: bold;
}

.label-discount {
  position: absolute;
  border-top: 70px solid #d53333;
  border-right: 70px solid transparent;
  line-height: 2;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.label-discount b {
  color: #fff;
  position: absolute;
  top: -60px;
  left: -5px;
  text-align: center;
  font-size: 15px;
  width: 50px;
}

.discount-text {
  padding-left: 20px;
}
