.user-order {
  text-align: left;
}

.user-order .header-order {
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 10px;
}

.user-order .user-all-order {
  margin-top: 70px;
  width: 100vh;
}

.user-order .react-multi-carousel-list {
  margin-top: 30px;
}

.user-order .MuiPagination-ul {
  width: 100vh;
  justify-content: flex-end;
  margin-top: 20px;
}

.user-order .MuiPaginationItem-page {
  transition: all 0.4s !important;
}

.user-order .MuiPaginationItem-page.Mui-selected {
  background: #333 !important;
  color: white;
}
.user-order .MuiPaginationItem-page:hover {
  background: #717fe0 !important;
}
