.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 100%;
  height: 90%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container-content {
  display: flex;
}

.container-slider {
  width: 50%;
}

.container-information {
  margin-left: 50px;
}

.container-information h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  color: #333;
  margin-bottom: 15px;
}

.container-information strong {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: bolder;
  color: #333;
  line-height: 1;
}
.container-information p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #333;
  line-height: 1;
}

.container-information .information-size,
.container-information .information-color,
.container-information .information-quantity {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  color: #333;
}

.container-information .information-size .form-select {
  position: relative;
  left: 31%;
}

.container-information .information-size .form-select:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

.container-information .information-color .form-select {
  position: relative;
  left: 25%;
}

.container-information .information-color .form-select:focus,
.form-select:hover {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
  cursor: pointer;
}

.container-information .information-quantity .quantity-btn {
  transform: translateX(15%);
  display: flex;
  border: 3px solid #333;
  border-radius: 30px;
}

.container-information .information-quantity .increase-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container-information .information-quantity .decrease-btn {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.container-information .information-quantity .increase-btn,
.container-information .information-quantity .decrease-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.3px;
  height: 40px;
  font-size: 25px;
  transition: all 0.4s;
}

.container-information .information-quantity .increase-btn:hover,
.container-information .information-quantity .decrease-btn:hover {
  background: #717fe0;
  cursor: pointer;
}

.container-information .information-quantity .quantity-show {
  border: none;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-color: #f7f7f7;
  text-align: center;
  width: 46.3px;
  height: 40px;
  font-size: 25px;
}

.container-information .information-quantity .quantity-show:focus-visible {
  outline: none;
}

.container-information button {
  display: flex;
  border-radius: 25px;
  background-color: #717fe0;
  min-width: 200px;
  height: 50px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  line-height: 1.466667;
  color: #fff;
  justify-content: center;
  transition: all 0.4s;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.container-information button:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.container-information .rating-length {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.4s;
}

.container-information .rating-length:hover {
  color: #717fe0;
}

.container-information .container-button {
  width: 15.4rem;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.container-information .MuiAlert-standardError {
  color: red !important;
  background-color: rgb(253, 236, 234);
  width: 15.4rem;
  align-items: center;
}
.container-information .show-alert {
  display: none;
}

.container-information .rating {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.container-slider .image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border: 3px solid #333;
}
.container-slider .image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover {
  border: 3px solid #333;
}

.container-information .radio-group-color,
.container-information .radio-group-size {
  margin-left: 20px;
}

.container-information .MuiFormGroup-root {
  flex-wrap: unset !important;
  flex-direction: unset !important;
}

.information-color .radio-color {
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  animation-duration: 4s;
}

.container-information .MuiRadio-colorSecondary.Mui-checked {
  color: black !important;
}

.container-information .MuiTypography-body1 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 25px;
}
.information-size .MuiSvgIcon-root {
  font-size: 2.5rem;
}

.information-color .MuiIconButton-label {
  color: transparent;
}
.radio-group-color .MuiIconButton-colorSecondary:hover {
  background-color: transparent !important;
}
