.shop-container {
  width: 100%;
  position: absolute;
  margin-top: 200px;
}
.shop-container .d-flex {
  justify-content: space-around;
}

.shop-container .d-flex button {
  outline: 0 !important;
  border: none;
  background: transparent;
  cursor: pointer;
  color: black;
  font-family: Poppins-Regular;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  border-bottom: 1px solid transparent;
  transition: all 0.4s;
  margin-right: 20px;
  padding: 0;
  border-radius: unset;
  opacity: 0.6;
}

.shop-container .d-flex button:hover {
  opacity: 1;
  color: #333;
  border-color: #797979;
}

.shop-container .d-flex .button-focus {
  opacity: 1;
  color: #333;
  border-color: #797979;
}

.shop-container .products {
  position: absolute;

  width: 63%;
  left: 18.3%;
  height: 300px;
}

.shop-container .products .row {
  transition: all 0.4s;
}

.shop-container .products .block-pic {
  position: relative;
  display: block;
  overflow: hidden;
}

.shop-container .products .block-pic a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  min-width: 139px;
  height: 40px;
  font-family: Poppins-Regular;
  font-size: 20px;
  line-height: 1.466667;
  color: #333;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
  padding-right: 15px;
  padding-left: 15px;
}
.shop-container .products .block-pic img {
  transition: transform 0.9s ease;
}

.shop-container .products .block-pic:hover > a {
  bottom: 30px;
}

.shop-container .products .block-pic:hover > img {
  transform: scale(1.1);
}

.shop-container .products .block-pic a:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.shop-container .products .card-body {
  padding: 0;
  margin: 15px 0 20px 0;
}
.shop-container .products .card-body .card-title {
  opacity: 0.9;
}
.shop-container .products .card-body .card-text {
  font-size: 17px;
  font-weight: 600;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 80%;
  height: 90%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container-content {
  display: flex;
}

.container-slider {
  width: 50%;
}

.container-slider .slick-slider {
  padding: 0;
}

.container-slider .slick-dots {
  width: 97%;
  bottom: -30px;
}

.container-slider .slick-dots li button:before {
  font-size: 15px;
}

.container-information h2 {
  font-family: Poppins-Regular;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  margin-bottom: 30px;
}

.container-information strong {
  font-family: Poppins-SemiBold;
  font-size: 25px;
  font-weight: bolder;
  color: #333;
  line-height: 1;
}
.container-information p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Poppins-SemiBold;
  font-size: 20px;
  color: #333;
  line-height: 1;
}

.container-information .information-size {
  width: 11.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.container-information .information-color {
  width: 12.3rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.container-information .information-size .form-select {
  position: relative;
  left: 31%;
}

.container-information .information-size .form-select:focus {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
}

.container-information .information-color .form-select {
  position: relative;
  left: 25%;
}

.container-information .information-color .form-select:focus,
.form-select:hover {
  outline: none;
  box-shadow: none;
  border-color: #ced4da;
  cursor: pointer;
}

.container-information .information-quantity {
  width: 72%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.container-information .information-quantity .quantity-btn {
  transform: translateX(15%);
  display: flex;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

.container-information .information-quantity .increase-btn,
.decrease-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46.3px;
  height: 40px;
  font-size: 22px;
  transition: all 0.4s;
}

.container-information .information-quantity .increase-btn:hover,
.decrease-btn:hover {
  background: #717fe0;
  cursor: pointer;
}

.container-information .information-quantity .quantity-show {
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background-color: #f7f7f7;
  text-align: center;
  width: 46.3px;
  height: 40px;
  font-size: 22px;
}

.container-information .information-quantity .quantity-show:focus-visible {
  outline: none;
}

.container-information button {
  display: flex;
  border-radius: 23px;
  background-color: #717fe0;
  min-width: 161px;
  height: 46px;
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.466667;
  color: #fff;
  justify-content: center;
  transition: all 0.4s;
  align-items: center;
  outline: none;
  border: none;

  cursor: pointer;
}

.container-information button:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.container-information .container-button {
  width: 15.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.container-information .container-button .fas {
  font-size: 40px;
  color: gray;
  transition: all 0.4s;
}
.container-information .container-button .fas:hover {
  cursor: pointer;
  color: #717fe0;
}
