.shop-container {
  width: 100%;
  /* position: relative; */
  padding-top: 200px;
  margin-bottom: 100px;
  /* height: 140vh; */
}
.shop-container .filter {
  margin: 0 auto;
  width: 62%;
}

.shop-container .filter .filter-child {
  margin-top: 20px;
  padding: 15px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.show-all-color {
  margin: 10px 0 0 -10px;
  display: flex;
}

.show-all-color .per-color {
  border-radius: 50%;
  border: 2px solid #333;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.icon-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-heart .fas {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.icon-heart .fas:hover {
  transform: scale(1.1);
}

.shop-container .d-flex button:hover {
  opacity: 1;
  color: #333;
  border-color: #797979;
}

.shop-container .d-flex .button-focus {
  opacity: 1;
  color: #333;
  border-color: #797979;
}

.shop-container .products {
  width: 63%;
  margin: 0 auto;
  /* position: absolute; */
  /* width: 63%; */
  /* left: 18.3%; */
}

.shop-container .products .row {
  transition: all 0.4s;
}

.shop-container .empty-product {
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.shop-container .empty-product img {
  height: 180px;
  width: 180px;
}

.shop-container .empty-product h3 {
  margin-top: 50px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  padding-left: 2%;
  font-family: "Bebas Neue", cursive;
}

.block-pic {
  position: relative;
  height: 320px;
  display: block;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.block-pic button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #fff;
  min-width: 139px;
  height: 40px;
  font-weight: bold;
  font-family: Poppins-Regular;
  font-size: 20px;
  line-height: 1.466667;
  color: #333;
  border: 1px solid #fff;
  border-radius: 30px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.block-pic img {
  transition: transform 0.9s ease;
}

.block-pic:hover > button {
  bottom: 30px;
}

.block-pic button:focus {
  display: none;
}

.block-pic:hover > img {
  transform: scale(1.1);
}

.block-pic button:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}

.card-product {
  width: 98%;
  /* width: 18rem; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card {
  padding-right: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.card-img,
.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 0;
  margin: 15px 0 20px 0;
  padding-left: 5px;
  padding-right: 5px;
}
.card-body .card-title {
  opacity: 0.9;
  font-size: 25px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}
.card-body strong {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
}

.shop-container .products .MuiPagination-ul {
  justify-content: center;
  margin-top: 20px;
}

.shop-container .products .MuiPaginationItem-page {
  transition: all 0.4s !important;
}

.shop-container .products .MuiPaginationItem-page.Mui-selected {
  background: #333 !important;
  color: white;
}
.shop-container .products .MuiPaginationItem-page:hover {
  background: #717fe0 !important;
}

.toast-cart {
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  background-color: #b5e6b5;
  align-items: center;
}
.MuiSnackbarContent-message {
  padding: 0 !important;
}
.MuiSnackbarContent-root {
  min-width: 104px !important;
  background-color: #b5e6b5 !important;
}

.dialog-login {
  color: #3f51b5;
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  text-decoration: none;
}
.dialog-login:hover {
  color: #3f51b5;
}

@media screen and (max-width: 1700px) {
  .card-body .card-title {
    font-size: 20px;
  }
  .products .block-pic {
    height: 250px;
  }
}
